<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Blocks with Save Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='result_styles.css') }}">
</head>
<body>
    <div class="content">
        <div class="scrollable-block">
            <div class="block-header">
                <h2>Hindi Text</h2>
                <div>
                    <button class="action-btn copy-btn" onclick="copyText('paragraph1')">Copy</button>
                    <button class="action-btn save-btn" onclick="saveText('paragraph1', 'Block1.txt')">Save</button>
                </div>
            </div>
            <p id="paragraph1">{{text_hi}}</p>
        </div>
        <div class="scrollable-block">
            <div class="block-header">
                <h2>English Text</h2>
                <div>
                    <button class="action-btn copy-btn" onclick="copyText('paragraph2')">Copy</button>
                    <button class="action-btn save-btn" onclick="saveText('paragraph2', 'Block2.txt')">Save</button>
                </div>
            </div>
            <p id="paragraph2">{{text_en}}</p>
        </div>
    </div>

    <footer>
        This Speech to Text Model leverages Machine Learning to process recordings, generating text in both Hindi and English from Hindi audio inputs. <br>
        Explore this live example on <a href="https://github.com/kartikjain14/darpg2024" target="_blank" rel="noopener noreferrer">KartikJain14/DARPG2024</a>. <br>
        Currently running on a resource-constrained VM, with potential for optimization in a full-scale deployment. <br>
        Conceived and developed over a 12-hour hackathon, this proof of concept (PoC) demonstrates significant potential for practical application.
    </footer>    
    <script src="{{ url_for('static', filename='result_script.js') }}"></script>
</body>
</html>
